@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@500&display=swap');

:root {
    --pc: #4A148C;
    --gc: #F2F2F2;
    --wc: #ffffff;
    --hc: #444444;
    --tc: #333333;
    --border: 1px solid var(--gc);
    --poppins: 'Poppins', sans-serif;
    --fjalla: 'Fjalla One', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 21px;
}
/* hr {
    background: #CCCCCC;;
    height: 2px;
} */
a{
    text-decoration: none;
    color: var(--wc);
    display: inline-block;
}
li{
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}

.section-title h6{
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}
.section-title h6::after{
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background: var(--pc);
    margin: 0 auto;
    margin-top: 8px;
}
.section-title h6 span{
    color: var(--pc);
}


.after-border{
    border-bottom: 1px solid var(--gc);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.custom-btn {
    background: var(--pc);
    font-weight: 500;
    font-size: 17px;
    padding: 5px 32px;
    border: none;
    line-height: 36px;
    color: var(--wc);
    text-transform: uppercase;
}

.large-btn {
    background: var(--pc);
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    padding: 5px 32px;
    border: none;
    line-height: 36px;
    color: var(--wc);
    text-transform: uppercase;
}

.custom-outline-btn {
    font-weight: 500;
    font-size: 17px;
    padding: 4px 32px;
    border: none;
    line-height: 36px;
    color: #444444;
    text-transform: uppercase;
    background: #F2F2F2;
    border: 1px solid #444444;
    transition: .3s ease;
}

.custom-outline-btn:hover {
    background: var(--pc);
    color: #ffffff;
}

.small-btn {
    background: #5A137E;
    font-family: var(--asap);
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 15px;
    bottom: 0;
}

.small-btn:hover {
    color: var(--wc);
}

.custom-btn:hover{
    color: var(--wc);
}

.custom-small-btn {
    background: #5A137E;
    font-family: var(--asap);
    font-size: 14px;
    line-height: 11px;
    color: #FFFFFF;
    padding: 10px 15px;
}

.section-head{
    font-size: 20px;
    font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.tags {
    background: #CCCCCC;
    border-radius: 50px;
    font-family: var(--asap);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 5px 0;
    color: #555555;
    padding: 6px 9px;
}

