/* Defult CSS */
@import "default.css";

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
 
img {
    max-width: 100%;
}

/* Typograpgy */

body {
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fjalla);
    /* font-weight: 600; */
}

h2 {
    font-size: 50px;
    line-height: 70px;
    color: var(--hc);
    /* font-weight: 600; */
}

p {
    color: var(--tc);
    line-height: 24px;
    font-size: 16px;
}

h4 {
    font-size: 24px;
}

.small-line {
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #444444;
}

.big-line {
    width: 437px;
    height: 1px;
    display: inline-block;
    background-color: #CCCCCC;
}

/* header part start */

header.media {
    border-bottom: 1px solid #CCCCCC;
}

.logo img {
    width: 190px;
}

.logo i {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.menubar {
    text-align: right;
}
.menubar ul{
    padding: 0;
    margin: 0;
}
.menubar ul li {
    display: inline-block;
    padding: 10px;
}

.menubar ul li:last-child {
    display: inline-block;
    padding-left: 0;
}

.menubar ul li a {
    color: #555555;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
/* header part end */

/* Footer top part start */

#footer-top {
    background: linear-gradient(110.36deg, #983FC6 -8.56%, #661391 126.57%);
    color: #ffffff;
}

#footer-top h5 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    line-height: 27px;
}

#footer-top .footer-content-1 h5::before {
    content: "";
    position: absolute;
    top: 40px;
    width: 97%;
    height: 1px;
    background: #ffffff;
}

#footer-top ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

#footer-top p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: var(--poppins);
}

#footer-top .footer-social li {
    display: inline-block;
    padding: 3px;
    list-style-type: none;
}

#footer-top .footer-social li a {
    margin-right: 10px;
    text-decoration: none;
}

#footer-top .footer-social li a i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: .2s;
    transition: .2s;
}

#footer-top .footer-social a i:hover {
    background: #ffffff;
    color: var(--pc);
}

#footer-top .footer-content-2 h5 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

#footer-top .footer-content-2 h5::before {
    content: "";
    position: absolute;
    top: 40px;
    width: 97%;
    height: 1px;
    background: #ffffff;
}

.footer-content-2 .content li {
    display: block;
    padding: 5px;
}

.footer-content-2 .content li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.footer-content-2 .about-us p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

#footer-top .about-us .location {
    margin-top: 35x;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* Footer-top end */

/* Footer part start */
footer {
    background: #5A137E;
}

footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    text-align: center;
}
/* Footer part end */

/* Slider part start */

.slider-part {
    position: relative;    
}

.slider-part .carousel-inner img {
    height: auto;
    position: relative;
}

/* .carousel-indicators {
    position: relative;
} */

.slider-part .carousel-indicators ul {
    position: absolute;
    bottom: 280px;
    right: -50px;
}

.slider-part .carousel-indicators ul li {
    list-style-type: none;
}

.slider-part .carousel-indicators button {
    width: 7px !important;
    height: 15px !important;
    border-radius: 30% !important;
    border: 2px solid white !important;
}

.slider-part .carousel-indicators button{
    background: none !important;
}
.slider-part .carousel-indicators button.active{
    background: #fff !important;
}

.slider-part .carousel-inner .content {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #ffffff;
    transform: translateY(-50%);
}

.slider-part .carousel-inner h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 101px;
    color: #FFFFFF;
}

.slider-part .carousel-inner h5 {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 50px;
}

.slider-part .carousel-inner a {
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    padding: 0 50px;
    color: #ffffff;
    background: #23D7FF;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
}
/* Slider part end */

/* Guide part start */
#guide-part h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: var(--pc);
}

#guide-part h2 {
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: var(--pc);
}

#guide-part p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #555555;
}

#guide-part a {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    display: inline-inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    background: var(--pc);
}
#guide-part a:last-child {
    margin-left: 20px;
}
/* Guide part end */

.who-we {
    background: #FAFAFA;
}

/* Our service start */

#our-service h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
    color: #74418E;
    margin-bottom: 0;
}

#our-service p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    color: #888888;
}

#our-service .card {
    height: 100%;
}

#our-service .card .card-body {
    background: #F2F2F2;
}

#our-service .card .card-body h5 {
    font-size: 24px;
    line-height: 30px;
    color: #555555;
}

#our-service .card .card-body p {
    margin-top: 0;
    font-size: 16px;
    color: #555555;
    margin-bottom: 27px;
    line-height: 24px;
}

.button_style {
    background: #983FC6;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.button_style:hover {
    color: #fff;
}

.button_style span {
    position: absolute;
    left: 100%;
    top: 0;
    width: 22px;
    height: 100%;
    background: #6E119D;
}

/*sofiul end*/
/* Our service part end */

/* Available opportunities start */
.available-opportunities {
    background: #FAFAFA;
}

.available-opportunities h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
    color: #74418E;
    border-bottom: 1px solid #CCCCCC;
    display: inline-block;
}


.available-opportunities .header-content p {
    margin-top: 29px;
    font-size: 16px;
    text-align: center;
    color: #555555;
}

.available-opportunities .header-content p {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    color: #555555;
}

.available-opportunities .inner-item a {
    background: #983FC6;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.available-opportunities .inner-item p {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Available opportunities end */

/* Business Partner start */
.business-partner h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
    color: #74418E;
    border-bottom: 1px solid #CCCCCC;
    display: inline-block;
}

.business-partner .header-content p {
    margin-top: 29px;
    font-size: 16px;
    text-align: center;
    color: #555555;
}
/* Business Partner end */

/* Newslatter part start */

.newslatter {
    padding: 60px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3a00606b), to(#2a004559)), url(../img/photos/newslatter.png);
    background-image: linear-gradient(#3a00606b, #2a004559), url(../img/photos/newslatter.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.newslatter p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.newslatter h3 {
    font-weight: bold;
    font-size: 50px;
    line-height: 63px;
}

.newslatter input {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 30px !important;
    outline: none;
    padding: 5px 20px;
    border: none;
    background: #fff;
}

.newslatter button {
    position: absolute;
    outline: none;
    right: 4px;
    top: 33.5px;
    border: none;
    border-radius: 30px !important;
    padding: 7px 35px;
    background: #983FC6;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

/* Newslatter part end */

/* Registration start */

/*registration start*/

#registration-section {
    background: #FAFAFA;
    position: relative;
}

#registration-section .bg {
    border-radius: 7px;
    height: 380px;
    width: 100%;
    background: #7D27A9;
    box-shadow: 6px 32px 34px 1px rgba(0, 0, 0, 0.12);
}

#registration-section .form-part {
    margin-top: -22%;
}

#registration-section input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
    background: #EFF6FF;
}

.field-icon {
    float: right;
    color: #787878;
    margin-top: -30px;
    height: 22px;
    width: 22px;
    position: relative;
    z-index: 2;
    right: 10px;
}

#registration-section .sign-up {
    background: #FFFFFF;
    box-shadow: 6px 32px 34px 1px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
}

#registration-section h2 {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    margin-bottom: 12px;
}

#registration-section .sign-in h2 {
    color: #7E28A9;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    margin-bottom: 12px;
}

#registration-section .sign-in p {
    color: #555555;
}

#registration-section .sign-up button {
    background: #852EB2;
    border-radius: 7px;
    width: 100%;
    color: #FFFFFF;
}

#registration-section .first-para {
    color: #FFFFFF;
    margin-top: 5px;
    position: relative;
}

#registration-section .sign-up .second-para {
    color: #787878;
    margin-top: 5px;
}

#registration-section .sign-up .second-para a {
    color: #787878;
}

/* Registration end */

/* About section start  */
.about-section {
    background: #F2F2F2;
}

.about-section .header-content h4 {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #452E7E;
}

.about-section .header-content p {
    font-size: 20px;
    line-height: 30px;
    color: #555555;
}

.about-section .content h4 {
    margin-bottom: 15px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    line-height: 40px;
    color: #555555;
}

.about-section .content p {
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}

.mission-vission .mission-bg {
    background: #F2F2F2;
}

.mission-vission .mission-bg img {
    margin: 30%;
}

.mission-vission h4 {
    margin-top: 15px;
    font-size: 30px;
    line-height: 38px;
    color: #555555;
}

.mission-vission p {
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}   

/* Our goals part start */

.our-goals h2 {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #452E7E;
    margin-bottom: 0;
}

.our-goals h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #452E7E;
    margin-bottom: 0;
}

.our-goals .content {
    position: relative;
    margin-left: 38px;
}

.our-goals .content p {
    color: #787878;
}

.our-goals .content:hover p {
    color: #555555;
}

.our-goals .content img {
    position: absolute;
    top: 5px;
    left: -35px;
    width: 17px;
}

/* About page start */

.about-contact {
    background: #F2F2F2;
}

.about-contact .content h5 {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    font-weight: 600;
}

.about-contact .content h2 {
    line-height: 30px;
    margin-top: 20px;
}

.about-purple {
    background: #4A148C;
}

.about-purple p {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

/* About page end */

/* Contact page start */

.address .section-content h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #333333;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}

.address .section-content p {
    color: #333333;
}

.address .contact {
    background: #FFFFFF;
    box-shadow: 10px 10px 20px -7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.address .contact button {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #6B438A;
    border-radius: 7px;
    border: none;
    padding: 13px 35px;
    margin-top: 30px;
}

.form-control {
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 7px;
}

/* Contact page end */

/* Map start */

.map h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #6B438A;
}

/* Map end */

.project-banner {
    background: url(../img/photos/project-banner.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-banner h3 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 0;
    color: #FFFFFF;
}

/* Vision projests start */

.vision-projects {
    background: #FAFAFA;
}

.vision-projects h3 {
    font-size: 35px;
    line-height: 44px;
    color: #555555;
}

.vision-projects p {
    line-height: 30px;
    color: #333333;
}

/* Vision projests end */

/* project feature 1 start */

.project-feature .bg {
    width: 100%;
    height: 80px;
    background: #983FC6;
}

.project-feature .content {
    overflow: scroll;
    padding: 25px;
    width: calc(100% - 11%);
    height: 260px;
    background: #FAFAFA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: -12% auto;
}

.project-feature .content h1 {
    font-size: 60px;
    line-height: 75px;
    color: #B9B9B9;
}

.project-feature .content p {
    font-size: 16px;
    line-height: 24px;
    color: #555555;
}

/* project feature 1 end */

/* Trade prompt start */

/* Vision projests start */

.trade-prompt {
    background: #FAFAFA;
}

.trade-prompt h3 {
    font-size: 35px;
    line-height: 44px;
    color: #555555;
}

.trade-prompt p {
    line-height: 30px;
    color: #333333;
}

/* Trade prompt end */

/* project feature 3 start */

.project-feature-3 .bg {
    width: 100%;
    height: 80px;
    background: #983FC6;
}

.project-feature-3 .content {
    overflow: scroll;
    padding: 25px;
    width: calc(100% - 11%);
    height: 330px;
    background: #FAFAFA;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: -12% auto;
}

.project-feature-3 .content h1 {
    font-size: 60px;
    line-height: 75px;
    color: #B9B9B9;
}

.project-feature-3 .content p {
    font-size: 16px;
    line-height: 24px;
    color: #555555;
}

/* project feature 1 end */

/* Point section start */

.point-box {
    position: relative;
    min-height: 90px;
    margin-bottom: 20px;
    text-align: right;
}

.point-box p {
    margin: 0;
    padding-right: 80px;
}

.point-box p {
    margin: 0;
    padding-right: 0;
    padding-left: 80px;
    text-align: left;
    color: #333333;
}

.point-box p span {
    position: absolute;
    top: 0;
    right: auto;
    height: 53px;
    width: 53px;
    line-height: 53px;
    text-align: center;
    background: #983FC6;
    color: var(--wc);
    font-size: 26px;
    font-weight: 600;
    left: 0;
}

/* Point section end */



/* ################################### */
/* ########### MEDIA CENTER ########## */
/* ################################### */


.media-slider {
    /* position: relative;     */
}

.media-slider .carousel-inner img {
    /* height: auto; */
}

.media-slider .carousel-indicators button {
    width: 19px !important;
    height: 6px !important;
    border-radius: 30% !important;
    border: 2px solid white !important;
}

.media-slider .carousel-indicators button{
    background: none !important;
}

.media-slider .carousel-indicators button.active{
    background: #fff !important;
}


.media-slider .carousel-inner .content {
    position: absolute;
    top: 50%;
    left: 8%;
    color: #ffffff;
    transform: translateY(-50%);

    background: rgba(35, 215, 255, 0.1);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.media-slider .carousel-inner h2 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}

.media-slider .carousel-inner p {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

/* Slider part end */

/* Top post start */

.top-post .content {
    height: 100%;
}

.top-post .content small {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4A4;
}

.top-post .content h3 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #555555;
}

.top-post .content p {
    font-family: var(--asap);
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.top-post .top-post-content {
    background: #F2F2F2;
    border-radius: 10px;
}

.top-post .top-post-content h4 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #555555;
}

.top-post .top-post-content h5 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.top-post .top-post-content small {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4A4;
}

/* Top post end */

/* Most view part */

.most-view .content small {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4A4;
}

.most-view .content h3 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #555555;
}

.most-view .content p {
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.most-view .content .buttons a {
    margin-right: 10px;
}

.most-view .content .buttons a.number {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #5A137E;
}

.most-view .content .buttons a.social {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #5A137E;
}

.most-view .content .buttons a i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #983FC6;
    border: 1px solid #983FC6;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0 5px
}

.most-view .content .buttons a i:hover {
    background: #983FC6;
    color: var(--wc);
}

.most-view .top-post-content {
    background: #F2F2F2;
    border-radius: 10px;
}

.most-view .top-post-content h4 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #555555;
}

.most-view .top-post-content h6 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
}

.most-view .top-post-content p {
    font-family: var(--asap);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4A4;
}

/* Most view part */

/* Health news start */

.health-news .content h6 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
}

.health-news .content p {
    font-family: var(--asap);
    font-size: 14px;
    line-height: 16px;
    color: #555555;
}

.health-news h5 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #555555;
}

/* Health news end */

/* Media details page start */
/* News update start */

.news-update .content {
    background: #5A137E;
}

.news-update .content h4:first-child {
    font-family: var(--asap);
    font-size: 22px;
    line-height: 25px;
    background: #FFFFFF;
    color: #5A137E;
    padding: 5px 7px;
    margin-top: 4px;
}

.news-update .content .last-child h4 {
    font-family: var(--asap);
    font-size: 22px;
    line-height: 25px;
    color: #5A137E;
    padding: 5px 7px;
    background: none;
    text-align: right;
    color: #FFFFFF;
    margin-top: 4px;
}

.news-update .content p {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 15px;
}

/* News update end */

/* News details start */

.news-details .detail-content small {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4A4;
    margin: 15px 0;
    display: block;
}

.news-details .detail-content h3 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #555555;
    margin-bottom: 15px;
}

.news-details .detail-content p {
    font-family: var(--asap);
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.news-details .detail-content h6 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #555555;
}

.news-details .detail-content .buttons a {
    margin-right: 10px;
}

.news-details .detail-content .buttons a.number {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #5A137E;
}

.news-details .detail-content .buttons a.social {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #5A137E;
}

.news-details .detail-content .buttons a i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #983FC6;
    border: 1px solid #983FC6;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 0 5px
}

.news-details .detail-content .buttons a i:hover {
    background: #5A137E;
    color: var(--wc);
}

.news-details .detail-content .pagination p {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #00BCE6;
}

.news-details .detail-content .pagination li a {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
    margin: 0 5px;
}

.news-details .detail-content .content h6 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    text-align: left;
}

.news-details .detail-content .content p {
    font-family: var(--asap);
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    color: #555555;
}

.news-details .top-post-content {
    background: #F2F2F2;
    border-radius: 10px;
}

.news-details .top-post-content h4 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #555555;
}

.news-details .top-post-content h5 {
    font-family: var(--asap);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.news-details .top-post-content small {
    font-family: var(--asap);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A4A4A4;
}

/* News details end */

/* Media details page end */












/* ################################### */
/* ########### MEDIA CENTER ########## */
/* ################################### */



/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    right: -100%;

    /* Black fallback color */
    background-color: #000000;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /* -webkit-transition: 0.5s; */
    transition: all cubic-bezier(0.74, 0.29, 0.25, 0.97) 0.7s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 10%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 26px;
    color: #dadada;
    display: block;
    /* Display block instead of inline */
    -webkit-transition: 0.3s;
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */


@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}